@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-mono-regular: 'GeistMono-Regular', monospace;
  --font-geist-mono-medium: 'GeistMono-Medium', monospace;
  --font-geist-mono-semibold: 'GeistMono-SemiBold', monospace;
  --font-geist-mono-bold: 'GeistMono-Bold', monospace;
  --font-geist-mono-black: 'GeistMono-Black', monospace;
}

body {
  background-color: black;
  color: white;
}